	<p class="notice">Book was successfully created.</p>
	<p><%= @book.title %></p>
	<p><%= @book.body %></p>
	<a class="back"><%= link_to "index", books_path %></a>
	<span>|</span>
	<a class="edit"><%= link_to "edit", edit_book_path(@book) %></a>
